.menu-social-item {
    max-width: 100%;
    max-height: 110px;
}

.menu-medium-item {
    max-height: 105px;
}

.centered-row {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.always-display {
    display: block !important;
}

.menu-column {
    padding: 50px;
}

.menu-column, .menu-column a {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .menu-column {
        display: flex !important;
        padding: 16px;
    }
}

.primary-menu-menu li:first-of-type {
    padding: 20px 24px 22px 24px;
}

#bdns-search {
    padding: 2px 0px 0px 7px;
    border-radius: 12px;
    background-color: #190411da;
    caret-color: unset;
    margin-bottom: unset;
    font-weight: 400;
    width: 200px;
}
@media (max-width: 1200px) {
    #bdns-search {
        width: 140px;
    }
}

.features-section {
    height: 350px;
    min-height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row+.features-section {
    margin-top: 32px;
}

.features-item {
    flex: 0 0 30%;
    height: 100%;
}

.feature-top {
    display: flex;
    flex-flow: column;
    align-items: center;
    pointer-events: none;
}

.feature-top .adot-icon {
    width: 50%;
    height: 50%;
    fill: #ee5b2d;
}

.feature-bottom {
    opacity: 0;
    margin-bottom: -55%;
    pointer-events: none;
}

.feature-bottom p {
    text-align: justify;
}

.feature-top, .feature-bottom {
    transition: all 0.6s ease;
}

.features-item:hover .feature-top {
    opacity: 0;
    margin-top: -55%;
}

.features-item:hover .feature-bottom {
    opacity: 1;
    margin-bottom: 0%;
}
