.menu-social-item {
    max-width: 100%;
    max-height: 110px;
}

.menu-medium-item {
    max-height: 105px;
}

.centered-row {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.always-display {
    display: block !important;
}

.menu-column {
    padding: 50px;
}

.menu-column, .menu-column a {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.primary-menu-menu>li:first-of-type {
    padding: 20px 24px 22px 24px;
}

#bdns-search {
    padding: 2px 0px 0px 7px;
    border-radius: 12px;
    background-color: #190411da;
    caret-color: unset;
    margin-bottom: unset;
    font-weight: 400;
    width: 200px;
}
@media (max-width: 1200px) {
    #bdns-search {
        width: 140px;
    }
}

.features-section {
    height: 350px;
    min-height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row+.features-section {
    margin-top: 32px;
}

.features-item {
    flex: 0 0 30%;
    height: 100%;
}

.feature-top {
    display: flex;
    flex-flow: column;
    align-items: center;
    pointer-events: none;
}

.feature-top .adot-icon {
    width: 50%;
    height: 50%;
    fill: #ee5b2d;
}

.feature-bottom {
    opacity: 0;
    margin-bottom: -55%;
    pointer-events: none;
}

.feature-bottom p {
    text-align: justify;
}

.feature-top, .feature-bottom {
    transition: all 0.6s ease;
}

.features-item:hover .feature-top {
    opacity: 0;
    margin-top: -58%;
}

.features-item:hover .feature-bottom {
    opacity: 1;
    margin-bottom: 0%;
}

.ecosystem-menu img {
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.ecosystem-menu li a {
    align-items: center;
    justify-content: flex-start;
    display: flex !important;
}

.ecosystem-menu h5 {
    text-align: left;
}

.ecosystem-menu .megamenu {
    width: 60% !important;
    right: 0 !important;
    left: unset !important;
}

#get-started {
    padding-left: 40px;
}

.supported-platforms {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 68px;
    max-width: fit-content;
}

.wallet-container .supported-platforms {
    left: calc(0% - 16px);
}

.extension-container .supported-platforms {
    left: calc(22% - 16px);
}

.wallet-container>h3 {
    padding-top: 30px;
}

.wallet-container>img {
    margin-top: 22px;
}

.supported-platforms a {
    margin: 0px 4px;
}

.supported-platforms a, .sup-platform {
    height: 76px;
    width: 76px;
}

.source-code {
    font-size: 36px;
    border-radius: 36px;
    background: black;
    width: 76px;
    height: 76px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

@media (max-width: 1400px) {
    .features-item:hover .feature-top {
        margin-top: -78%;
    }
}
@media (max-width: 1200px) {
    .wallet-container .supported-platforms {
        left: calc(10% - 16px);
    }
    .extension-container .supported-platforms {
        left: calc(25% - 16px);
    }
    .wallet-container>h3,
    .wallet-container>img {
        margin-top: 0px;
    }
    #get-started {
        padding-left: unset;
    }
}
@media (max-width: 991px) {
    .features-section {
        height: 900px;
        display: block;
    }
    .features-item {
        overflow: hidden;
        height: 300px;
    }
    .feature-bottom {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .feature-bottom * {
        width: 94%;
    }
    .feature-bottom h6 {
        text-align: center;
        margin-bottom: 20px;
    }
    .feature-top .adot-icon {
        width: 32%;
        height: 32%;
    }
    .features-item:hover .feature-top {
        margin-top: -35%;
    }
    .supported-platforms a, .sup-platform {
        height: 64px;
        width: 64px;
    }
}
@media (max-width: 768px) {
    .menu-column {
        display: flex !important;
        padding: 16px;
    }
}
@media (max-width: 560px) {
    .feature-top .adot-icon {
        width: 42%;
        height: 42%;
    }
    .features-item:hover .feature-top {
        margin-top: -52%;
    }
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
    white-space: nowrap;
    overflow-x: hidden;
}

.timeline ol {
    font-size: 0;
    width: 100vw;
    padding-top: 310px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 250px;
    transition: all 1s;
}

.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 3px;
    background: #fff;
}

.timeline ol li:last-child {
    width: 280px;
}

.timeline ol li:not(:first-child) {
    margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #ee5b2d;
}

.timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: white;
}

.timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
}

.timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.timeline .arrow {
    background: transparent;
}

.timeline .arrows .arrow__prev {
    margin-right: 20px;
}

.timeline .disabled {
    opacity: .5;
}

.timeline .arrows img {
    width: 45px;
    height: 45px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 920px) {
    .timeline ol,
    .timeline ol li {
        width: auto;
    }

    .timeline ol {
        padding: 0;
        transform: none !important;
    }

    .timeline ol li {
        display: block;
        height: auto;
        background: transparent;
    }

    .timeline ol li:first-child {
        margin-top: 25px;
    }

    .timeline ol li:not(:first-child) {
        margin-left: auto;
    }

    .timeline ol li div {
        width: 94%;
        height: auto !important;
        margin: 0 auto 25px;
    }

    .timeline ol li div {
        position: static;
    }

    .timeline ol li:nth-child(odd) div {
        transform: none;
    }

    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border: none;
        border-left: 1px solid white;
        height: 25px;
    }

    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after,
    .timeline .arrows {
        display: none;
    }
}

*, *::after, *::before {
    outline: 1px solid red;
}

.timeline-simple {
    min-width: 300px;
    max-width: 600px;
    margin: auto;
}
.timeline-simple p {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: #34435e;
}
.timeline-simple p:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}
.timeline-simple p:nth-child(odd):before {
    left: 100%;
    margin-left: -20px;
}
.timeline-simple p:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
}
.timeline-simple p:nth-child(even):before {
    right: 100%;
    margin-right: -20px;
}
.timeline-simple p:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-image: linear-gradient(to bottom, #743ad510 0%, #d53a9c 100%);
    border-image-slice: 1;
}
.timeline-simple p:nth-last-child(2) {
    border-bottom: 3px solid;
}
.timeline-simple p:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-image: linear-gradient(to top, #743ad510 0%, #d53a9c 100%);
    border-image-slice: 1;
    border-top: unset;
}
